<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <style>
    .userdata {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    .user {
      border: 1px dotted #ccc;
      padding: 1em;
      margin: 1em;
      background-color: #eee;
      border-radius: 4px;
      width: 20em;
    }
    .userdata > img {
      height: 6em;
    }
    </style>
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0">
</head>
<body>
    {{{body}}}
</body>
<html>